{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  "plugins": [
    "@typescript-eslint",
    "functional"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:functional/external-typescript-recommended",
    "plugin:functional/recommended"
  ],
  "overrides": [
    {
      "files": ["**/*"],
      "rules": {
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-empty-function": "off",
        "@typescript-eslint/ban-types": "off",
        "functional/no-expression-statements": "off",
        "functional/no-mixed-type": "off",
        "functional/no-mixed-types": "off",
        "functional/functional-parameters": "off",
        "functional/prefer-immutable-types": "off",
        "functional/no-classes": "off",
        "functional/no-conditional-statement": "off",
        "functional/no-class": "off",
        "functional/no-this-expression": "off",
        "functional/no-let": "off",
        "functional/no-return-void": "off",
        "no-console": "error"
      }
    },
    {
      "files": ["**/*.js"],
      "rules": {
        "@typescript-eslint/no-var-requires": "off"
      }
    }
  ]
}
